In [4]:
import pandas as pd

In [5]:
# Read the data source
df = pd.read_excel("Resources/18_FullDataSet.xlsx")

In [6]:
# Display to make sure everything looks good
df

,Country,ISO3,Region,CPI Score 2018,Rank,Standard error,Number of sources,Upper CI,Lower CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,Global Insight Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index,Varieties of Democracy Project
0,Denmark,DNK,WE/EU,88,1,2.63,8,92,84,NaN,...,90.0,NaN,83,97.0,NaN,92.0,NaN,79.0,88.0,78.0
1,New Zealand,NZL,AP,87,2,2.44,8,91,83,NaN,...,90.0,NaN,83,92.0,NaN,93.0,NaN,83.0,82.0,77.0
2,Finland,FIN,WE/EU,85,3,2.74,8,89,81,NaN,...,72.0,NaN,83,93.0,NaN,93.0,NaN,90.0,86.0,76.0
3,Singapore,SGP,AP,85,3,1.98,9,88,82,NaN,...,90.0,NaN,83,90.0,89.0,85.0,NaN,90.0,85.0,78.0
4,Sweden,SWE,WE/EU,85,3,2.02,8,88,82,NaN,...,90.0,NaN,83,81.0,NaN,93.0,NaN,77.0,86.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,"Korea, North",PRK,AP,14,176,1.39,4,16,12,NaN,...,NaN,NaN,10,NaN,NaN,15.0,NaN,NaN,NaN,17.0
176,Yemen,YEM,MENA,14,176,1.45,7,16,12,NaN,...,20.0,NaN,10,NaN,NaN,15.0,10.0,17.0,NaN,12.0
177,South Sudan,SSD,SSA,13,178,1.86,5,16,10,9.0,...,NaN,NaN,10,NaN,NaN,NaN,10.0,NaN,NaN,17.0
178,Syria,SYR,MENA,13,178,1.92,5,16,10,NaN,...,20.0,NaN,10,NaN,NaN,15.0,NaN,NaN,NaN,13.0
179,Somalia,SOM,SSA,10,180,3.08,6,15,5,0.0,...,NaN,NaN,22,NaN,NaN,6.0,10.0,NaN,NaN,14.0

In [11]:
# Get only the columns I need
df=df[["Country", "CPI Score 2018", "Standard error"]]
df

          Country  CPI Score 2018  Standard error
0         Denmark              88            2.63
1     New Zealand              87            2.44
2         Finland              85            2.74
3       Singapore              85            1.98
4          Sweden              85            2.02
..            ...             ...             ...
175  Korea, North              14            1.39
176         Yemen              14            1.45
177   South Sudan              13            1.86
178         Syria              13            1.92
179       Somalia              10            3.08

[180 rows x 3 columns]

In [12]:
# Send to CSV file
df.to_csv("Output/Cleaned_Corruption.csv")